[flake8]
docstring-convention = google
exclude =
  .git
  .vscode
  .pytest_cache
  .venv

ignore =
  # "Line lengths are recommended to be no greater than 79 characters"
  E501
  # "Whitespace before ':'": conflicts with black
  E203
  # "line break before binary operator": conflicts with black
  W503

max-line-length = 88
per-file-ignores =
    __init__.py:F401,D104

select =
  # pep8 errors
  E
  # pyflakes errors
  F
  # documentation error
  D
  # pep8 warnings
  W
  # flake8-bugbear warnings
  B
